@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    padding-right: 2rem;
  }

  #profile {
    margin-top: -5rem;
    height: 60vh;
  }

  .profile-logo {
    margin-top: 11.5rem;
    margin-right: -3rem;
  }

  .profile-logo img {
    height: 13rem;
  }

  /*1980s section*/

  .top_container1980 {
    height: 30vh;
  }

  /*1990s section*/

  .top_container_90s {
    height: 30vh;
  }

  .mov_img {
    margin-left: 0rem;
    width: 45%;
    height: 80%;
  }
  .year_90s {
    margin-left: 1.5rem;
  }

  /*2000s section*/

  .top_container {
    height: 30vh;
  }

  .year {
    margin-left: 1.5rem;
    font-size: 5rem;
  }

  /*2010s section*/

  .top_container_10s {
    height: 30vh;
  }

  .showcase .preview {
    width: 100%;
  }

  .showcase .preview .movie_info {
    flex-direction: column;
  }

  .showcase .preview .left img {
    width: 10rem;
  }

  .showcase .character {
    flex-direction: column;
  }

  .showcase .character .char_box {
    width: 40%;
  }

  .showcase .characters .title {
    font-size: 1.5rem;
  }

  .showcase .heading_title h2 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .showcase .preview .heading_content h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 850px) {
  #hamburger-nav {
    display: flex;
    padding-right: 2rem;
  }

  #profile {
    margin-top: -3rem;
    height: 72vh;
  }

  .profile-logo {
    margin-top: 13rem;
    margin-right: -1.5rem;
  }

  .profile-logo img {
    height: 10rem;
  }

  .showcase {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .showcase .preview {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .showcase .preview .left img {
    width: 10rem;
  }

  .showcase .preview .movie_info {
    flex-direction: column;
  }

  .showcase .character {
    flex-direction: column;
  }

  .showcase .character .char_box {
    width: 75%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    margin-top: -3rem;
  }

  .profile-title {
    font-size: 1.5rem;
  }

  .profile-description {
    font-size: 10px;
    flex-basis: 29%;
    margin-top: -1rem;
    margin-left: -4rem;
  }

  .profile-logo {
    margin-top: 7rem;
    margin-right: 1rem;
  }

  .profile-logo img {
    height: 6rem;
  }

  /*1980s section*/

  #section_80s {
    margin-top: -9rem;
  }

  .top_container1980 {
    height: 30vh;
  }

  /*1990s section*/

  .top_container_90s {
    height: 30vh;
  }

  .year_90s {
    margin-left: 1.5rem;
  }

  /*2000s section*/

  .top_container {
    height: 30vh;
  }

  .mov_img {
    margin-left: 0rem;
    width: 54%;
    height: 80%;
  }
  .year {
    margin-left: 1.5rem;
    font-size: 2.5rem;
  }

  /*2010s section*/

  .top_container_10s {
    height: 30vh;
  }

  #section_10s .mov_img {
    width: 55%;
    height: 80%;
  }

  #section_10s .year {
    margin-left: 1.5rem;
  }

  .showcase {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .showcase .preview {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .showcase .preview .left img {
    width: 10rem;
  }

  .showcase .characters {
    width: 80%;
  }

  .showcase .preview .movie_info {
    flex-direction: column;
  }

  .showcase .character {
    flex-direction: column;
  }

  .showcase .character .char_box {
    width: 75%;
    height: 100%;
  }
}

@media screen and (max-width: 300px) {
  .logo-hamburger {
    font-size: 1rem;
  }

  .hamburger-nav img {
    height: 0.5rem;
  }

  .hamburger-icon {
    margin-top: 0.5rem;
    height: 15px;
  }

  #profile {
    height: 97vh;
  }

  .profile-logo {
    margin-top: 8rem;
  }

  .profile-logo img {
    height: 4.5rem;
  }

  /*1980s section*/

  .top_container1980 {
    height: 30vh;
  }

  /*1990s section*/

  .top_container_90s {
    height: 30vh;
  }

  .mov_img {
    margin-left: 0rem;
    width: 54%;
    height: 80%;
  }
  .year_90s {
    margin-left: 1.5rem;
  }

  /*2000s section*/

  .top_container {
    height: 30vh;
  }

  .year {
    margin-left: 1.5rem;
    font-size: 2.5rem;
  }

  /*2010s section*/
  .top_container_10s {
    height: 30vh;
  }
}
