@media screen and (max-width: 1300px) {
  #profile {
    margin-top: 5rem;
    padding-bottom: 150px;
    height: 100vh;
  }

  .profile-container {
    padding: 70px 10%;
  }

}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    padding-right: 2rem;
  }

  #profile {
    margin-top: 0;
    padding-bottom: 150px;
    height: 100vh;
  }

  .profile-container {
    padding: 1px 10%;
  }
  .profile-logo {
    margin-top: 11.5rem;
    margin-right: -3rem;
  }

  .profile-logo img {
    height: 13rem;
  }
  .profile-description {
    margin-top: 10rem;
  }
  /*1980s section*/

  .top_container1980 {
    height: 30vh;
  }

  /*1990s section*/

  .top_container_90s {
    height: 30vh;
  }

  .mov_img {
    margin-left: 0rem;
    width: 45%;
    height: 80%;
  }
  .year_90s {
    margin-left: 1.5rem;
  }

  /*2000s section*/

  .top_container {
    height: 30vh;
  }

  .year {
    margin-left: 1.5rem;
    font-size: 5rem;
  }

  /*2010s section*/

  .top_container_10s {
    height: 30vh;
  }

  .showcase .preview {
    width: 100%;
  }

  .showcase .preview .movie_info {
    flex-direction: column;
  }

  .showcase .preview .left img {
    width: 10rem;
  }

  .showcase .character {
    flex-direction: column;
  }

  .showcase .character .char_box {
    width: 40%;
  }

  .showcase .characters .title {
    font-size: 1.5rem;
  }

  .showcase .heading_title h2 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .showcase .preview .heading_content h3 {
    font-size: 1rem;
  }

  .founding-member {
    padding-left: 8rem;
  }

  .tooltip {
    width: 18rem;
  }
}
@media screen and (max-width: 1000px) {
  #profile {
    padding-bottom: 150px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-container {
    padding: 70px 10%;
  }

  .founding-member {
    padding-left: 6rem;
  }
  .tooltip {
    width: 15rem;
  }

}
@media screen and (max-width: 850px) {
  #hamburger-nav {
    display: flex;
    padding-right: 2rem;
  }
  .profile-container {
    padding: 50px;
    padding-left: 150px;
  }
  #profile {
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  .profile-logo {
    margin-top: 18rem;
    margin-right: -1.5rem;
  }

  .profile-logo img {
    height: 10rem;
  }

  .showcase {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .showcase .preview {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .showcase .preview .left img {
    width: 10rem;
  }

  .showcase .preview .movie_info {
    flex-direction: column;
  }

  .showcase .character {
    flex-direction: column;
  }

  .showcase .character .char_box {
    width: 75%;
    height: 100%;
  }

  .founders-list {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-auto-flow: row;
    gap: 20px;
    justify-content: center;
  }

  .founding-member {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    margin: 2rem;
    text-align: center;
  }
  
  .about-foundingMemberImage {
    margin-bottom: 10px;
  }
  
  .image-with-border {
    border: 5px solid #346fbf;
    border-radius: 8px;
  }
  
  .about-foundingMemberInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-foundingMemberName {
    font-size: 1.2rem;
    margin-top: 2px; 
    margin-right: 1rem;
    
  }

  .tooltip {
    position: absolute;
    left: 14%;
    margin-top: 0.5rem;
    width: 16rem;
  }

}

@media screen and (max-width: 600px) {
  #profile {
    margin-top: 3rem;
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-container {
    padding: 30px;
  }
  .profile-title {
    font-size: 2rem;
  }

  .profile-description {
    font-size: 12px;
    flex-basis: 29%;
    margin-top: -1rem;
    margin-left: -4rem;
  }

  .profile-logo img {
    height: 8rem;
  }
  .profile-row {
    display: flex;
    flex-direction: column; /* Stack the children in a column layout */
  }

  .profile-logo {
    order: 1; /* Set the image to appear before the text */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Optional: Add some spacing between the stacked elements */
  .profile-logo,
  .profile-description {
    margin: 10px; /* Adjust the margin as needed */
  }
  .profile-description {
    order: 2; /* Set the text to appear after the image */
  }
  .description-paragraph {
    text-align: justify;
    text-justify: inter-word;
  }
  .founders-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .founders-member {
    margin-bottom: 20px;
  }

  .tooltip {
      position: absolute;
      left: 10%;
      margin-top: 12rem;
      width: 13rem;
  }

  .founding-member {
    padding-left: 2rem;
  }

  /*1980s section*/

  #section_80s {
    margin-top: -9rem;
  }

  .top_container1980 {
    height: 30vh;
  }

  /*1990s section*/

  .top_container_90s {
    height: 30vh;
  }

  .year_90s {
    margin-left: 1.5rem;
  }

  /*2000s section*/

  .top_container {
    height: 30vh;
  }

  .mov_img {
    margin-left: 0rem;
    width: 54%;
    height: 80%;
  }
  .year {
    margin-left: 1.5rem;
    font-size: 2.5rem;
  }

  /*2010s section*/

  .top_container_10s {
    height: 30vh;
  }

  #section_10s .mov_img {
    width: 55%;
    height: 80%;
  }

  #section_10s .year {
    margin-left: 1.5rem;
  }

  .showcase {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .showcase .preview {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .showcase .preview .left img {
    width: 10rem;
  }

  .showcase .characters {
    width: 80%;
  }

  .showcase .preview .movie_info {
    flex-direction: column;
  }

  .showcase .character {
    flex-direction: column;
  }

  .showcase .character .char_box {
    width: 75%;
    height: 100%;
  }
  /*footer*/
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-wrapper{
    margin-top: 20rem;
  }
}

@media screen and (max-width: 450px) {
  .tooltip {
    position: absolute;
    left: -3%;
    margin-top: 12rem;
    width: 13rem;
}

}

@media screen and (max-width: 300px) {
  .logo-hamburger {
    font-size: 1rem;
  }

  .hamburger-nav img {
    height: 0.5rem;
  }

  .hamburger-icon {
    margin-top: 0.5rem;
    height: 15px;
  }

  #profile {
    height: 97vh;
  }

  .profile-logo {
    margin-top: 8rem;
  }

  .profile-logo img {
    height: 4.5rem;
  }

  /*1980s section*/

  .top_container1980 {
    height: 30vh;
  }

  /*1990s section*/

  .top_container_90s {
    height: 30vh;
  }

  .mov_img {
    margin-left: 0rem;
    width: 54%;
    height: 80%;
  }
  .year_90s {
    margin-left: 1.5rem;
  }

  /*2000s section*/

  .top_container {
    height: 30vh;
  }

  .year {
    margin-left: 1.5rem;
    font-size: 2.5rem;
  }

  /*2010s section*/
  .top_container_10s {
    height: 30vh;
  }

  .tooltip {
    position: absolute;
    left: -30%;
    margin-top: 14rem;
    width: 13rem;
}

.footer-wrapper{
  margin-top: 20rem;
}
}
