@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@700&family=Pacifico&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
}

/* ===== Navigation ===== */

.nav-container {
  padding: 10px 5%;
}

.logo-nav {
  font-size: 2rem;
  font-family: "Neuton", serif;
  color: #346fbf;
}

.logo-nav img {
  height: 45px;
  padding-right: 0.5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #346fbf;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #638ecb;
}

nav ul li a:hover::after {
  width: 100%;
}

/* ===== Profile ===== */

#profile {
  padding: 80px 0;
}

.profile-container {
  padding: 70px 10%;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-title {
  font-family: "Neuton", serif;
  color: #346fbf;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.profile-logo img {
  height: 20rem;
}

.profile-logo {
  flex-basis: 60%;
  margin-right: -5rem;
}

.profile-description {
  flex-basis: 40%;
  margin-top: 4.5rem;
  text-align: justify;
}
